@using Microsoft.AspNetCore.Http;
@model IEnumerable<Clothing>
@inject IHttpContextAccessor http

@{
    ViewData["Title"] = "List Clothing Inventory";
}

<div class="container">

    <h1>Clothing Inventory</h1>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["Message"]</div>
    }
    <p>
        <a asp-action="Search" asp-controller="Clothes">Search</a>
    </p>
    <p>
        <a asp-action="Add" asp-controller="Clothes">Create New</a>
    </p>

    @await Html.PartialAsync("_DisplayClothes", Model)

    <ul class="pagination">
        @*Print page numbers*@
        @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++)
        {
            @if (i != (int)ViewData["CurrentPage"])
            {
                <li class="page-item"><a class="page-link" asp-action="ShowAll" asp-route-page="@i">@i</a></li>
            }
            else
            {
                <li class="page-item active"><a class="page-link" href="#">@i</a> </li>
                //highlight current page
            }
        }
    </ul>

</div>

@section Scripts {
    <script>
        console.log("Add to cart script executing");
        $("*[data-cart-button").click(
            function (event) {
                event.preventDefault();  /*  stop <a> from navigating  */  

                var currBtn = this; /*The add to Cart button that was clicked*/
                console.log(currBtn);

                var itemId = $(currBtn).attr("data-cart-itemid"); /*use jquery to get attribute of button that was clicked*/

                $.post("/Cart/AddJS", { id : itemId }).done(function () {
                    alert("Cart item added");
                });
                

        });
    </script>
}
