@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

<h1>Tiny Clothes</h1>
<img src="~/images/chihuahua-2769980_1920.jpg" class="img-fluid" alt="Chihuahua wearing pink sweater">

<div class="card" style="width: 36rem;">
    <img src="~/images/dog-2423581_640.png" class="card-img-top" alt="Chihuahua wearing pink sweater" />
    <div class="card-body">
    <h5 class="card-title">Our products</h5>
    <p class="card-text">We sell tiny clothes, not baby clothes</p>
    </div>
</div>

